# Node.js
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment variables
.env*
!/.env.example

# Xcode
DerivedData/

# Media files
*.MP4


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
